<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
</head>
<body>
  <div class="dashboard-container">
    <div class="form-container">
  <!-- Error message display -->
  {% if error %}
    <div style="color: red; margin-bottom: 20px;">{{ error }}</div>
  {% endif %}
  {% if weather_message %}
    <div style="color: green; margin-bottom: 20px;">{{ weather_message }}</div>
  {% endif %}
  <form action="/dashboard" method="post">  
    <div class="form-group">
      <label for="api_code">API Code</label>
      <input type="text" id="api_code" name="apicode" required>
    </div>
    <div class="form-group">
      <label for="zipcode">Zipcode</label>
      <input type="number" id="zip_code" name="zipcode" required>
    </div>
    <div class="form-group">
      <label for="country_code">Country Code</label>
      <input type="text" id="country_code" name="countrycode" required>
    </div>
    <button type="submit">Submit</button>
  </form>
    </div>
  </div>
</body>
</html>
